a {
  cursor: pointer;
}

body {
  background-color: #f5f5f7;
}

.app-container {
  width: 100vw;
  height: 100vh;
  min-height: 320px;
  overflow-x: hidden;
}

.navbar {
  background-color: #e5e5e5;
}

.logo {
  width: 50px;
  height: auto;
}

.products-number {
  font-size: 18px;
  font-weight: 600;
  margin-left: 4px;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75vh;
}

.products-container {
  height: 100%;
}

.cart-products {
  height: 70vh;
  overflow-y: auto;
  margin-block: 8px;
}

.products-container,
.cart-products {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 24%;
  min-height: 250px;
  max-height: 55%;
  border: none;
  border-radius: 12px;
  margin: 8px;
  padding: 8px;
  box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
  transition: 0.3s;
}

.card-content:hover {
  box-shadow: 4px 8px 24px rgb(0 0 0 / 16%);
  transform: scale(1.01);
}

.product-image {
  max-width: 65%;
  min-width: 150px;
  height: auto;
  align-self: center;
}

.product-info {
  overflow: hidden;
  margin-top: 8px;
  user-select: none;
}

.quantity-item {
  margin-inline: 8px;
}

.bold {
  font-weight: 600;
}

.price {
  color: #495057;
  margin-right: 8px;
}

.pointer {
  cursor: pointer;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 992px) {
  .card-content {
    max-width: 31%;
  }
}

@media screen and (max-width: 600px) {
  .card-content {
    max-width: 45%;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #212529;
}
